a .seller__name {
	color: #4f4f4f;
}
.search__content-block {
	height: 220px;
	width: 100%;
}

.search__content-block img{
	height: 200px;
	max-height: 200px;
	width: auto;
}

.search__block-seller {
	/* width: 200px;
	height: auto; */
	text-align: center;
}

.seller__logo {
	max-width: 50px !important;
	height: auto;
	max-height: 200px !important;
	/* margin-top: -25px; */
	border: 1px solid white;
}

.seller__name {
	margin-left: 25px;
}

.bold {
	font-weight: bold;
}
